html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: Arial;
}

.particle {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
}

.header {
    height: 80px;
}

.logo {
    height: 60px;
    width: auto;
    margin: 20px 50px;
}

.sidebar {
    height: 100%;
}

.nav li a {
    color: #999;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent;
}

.nav li:hover a,
.nav>li.cur>a {
    color: #3c763d;
}

.nav li a {
    padding: 2px 15px;
    margin-left: 40px;
    font-size: 18px;
}

.parameters {
    margin-left: 40px;
    margin-top: 100px;
}

.parameters input {
    border: 0;
    border-bottom: 1px solid #ccc;
    display: inline-block;
    vertical-align: text-bottom;
    text-align: center;
    width: 80px;
}

.parameters label {
    margin-left: 10px;
    font-family: "arial";
    font-weight: 400;
    color: #777;
}

.menu {
    margin-top: 30px;
}

.content .graph {
    margin: 0 auto;
}

.analysis .title {
    width: 200px;
    text-align: center;
    margin-top: 120px;
    font-weight: 900;
    font-size: 16px;
}

.analysis .delta {
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

.analysis .delta p {
    line-height: 200px;
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    color: #fff;
}

.analysis .delta p span {
    font-size: 80px;
}

.analysis .back p {
    margin-top: 40px;
    line-height: 1;
}


/* entire container, keeps perspective */

.flip-container {
    perspective: 1000px;
}


/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 200px;
    height: 200px;
}


/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}


/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(122, 165, 91);
    border-radius: 999px;
}


/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
}


/* forest growing rate control */


/*.forest-rate .rate-control, .forest-rate .rate-graph{
	display: inline-block;
}*/

.forest-rate{
	height: 200px;
}

.forest-rate .rate-control .input-rate{
	display: inline-block;
	vertical-align: middle;
}
.forest-rate .rate-control {
    margin-top:20px;
    position: absolute;
    right: 45px;
    bottom: 12px;
    z-index: 2;
}
.forest-rate .rate-control span{
	color: #888;
	vertical-align: middle;
}

/*.forest-rate .rate-graph {
    width: 90%;
}
*/
.input-rate input {
    display: inline-block;
    width: 50px;
    height: 30px;
    text-align: center;
}

.rate-control .btn {
    padding: 0;
    margin: 0;
    width: 40px;
    height: 30px;
    line-height: 30px;
    font-size: 28px;
    color: #999;
}
